<template lang="fr">
  <div class="footer w-full flex justify-end my-2">
    <div class="w-full flex-col sm:flex-row flex justify-center items-center">
      <p>Site développé avec le 💙 par <a href="https://matthieudrmtz.fr" target="_blank">Matthieu</a>.</p>
    </div>
  </div>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

footer{
    position: fixed;
    left: 0;
}

p, a{
  color: #101010;
  font-family: 'Varela Round', sans-serif;
  transition: color 0.4s ease;
}

a:hover{
  color: rgba(18,111,177,.8);
  transition: color 0.4s ease;
}

img{
  width: 0px;
}
</style>
