<template lang="fr">
  <div class="navbar w-full flex justify-end my-8">
    <div class="w-full sm:w-2/4 flex-col sm:flex-row flex justify-center items-center">
      <NuxtLink to="/"><img src="~/assets/img/logo.png"></NuxtLink>
      <NuxtLink to="/">Work</NuxtLink>
      <NuxtLink to="/reel">Reel</NuxtLink>
      <NuxtLink to="/about">About</NuxtLink>
      <NuxtLink to="/contact">Contact</NuxtLink>
    </div>
  </div>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

a{
  margin: 0 13px;
  color: #101010;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  transition: color 0.4s ease;
}

a:hover{
  color: rgba(18,111,177,.8);
  transition: color 0.4s ease;
}

a.nuxt-link-exact-active{
  color: rgba(18,111,177,.8)
}

img{
  width: 40px;
  margin-right: 10px;
}
</style>
