<template>
  <div>
    <transition name="page">
      <Navbar/>
    </transition>
    <transition name="page">
      <div class="main w-2/4 m-auto mt-8 flex flex-col justify-center items-center pt-28">
        <p class="text-xl" v-if="this.lang == 'en'">Hi, I'm Tom.</p><br v-if="this.lang == 'en'">
        <p class="text-xl" v-if="this.lang == 'fr'">Salut, je suis Tom.</p><br v-if="this.lang == 'fr'">

        <p class="text-xl text-justify" v-if="this.lang == 'en'">
            I'm a Junior motion designer specialized in 2D animation and advertising. I love to work with  After Effects, Element 3D, Maya, Photoshop, and I identify myself in flat design style.
        </p><br v-if="this.lang == 'en'">
        <p class="text-xl text-justify" v-if="this.lang == 'fr'">
            Je suis un motion designer junior spécialisé dans l'animation 2D et la publicité. J'adore travailler avec After Effects, Element 3D, Maya, Photoshop et je m'identifie dans le flat design.
        </p><br v-if="this.lang == 'fr'">

        <p class="text-xl" v-if="this.lang == 'en'">Let's get in touch ! :)</p>
        <p class="text-xl" v-if="this.lang == 'fr'">Entrons en contact ! :)</p>


        <a href="#" v-if="this.lang == 'en'" @click.prevent="changeLang">Version française</a>
        <a href="#" v-if="this.lang == 'fr'" @click.prevent="changeLang">Version anglaise</a>
      </div>
    </transition>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'

export default {
  transition: 'page',
  components: {
    Navbar
  },
  data () {
      return {
          lang: "en"
      }
  },
  methods: {
      changeLang () {
          if(this.lang == "en"){
              this.lang = "fr"
          }else{
              this.lang = "en"
          }
      }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

p{
    font-family: 'Varela Round', sans-serif;
}

.page-enter-active, .page-leave-active {
  transition: all .4s ease;
}

/* entering start */  
.page-enter {
  opacity: 0;
}

/* entering end */
.page-enter-to {
  opacity: 1;
}

/* leaving start */
.page-leave {
  opacity: 1;
}

/* leaving end */
.page-leave-to {
  opacity: 0;
}
</style>
