<template>
  <div>
    <transition name="page">
      <Navbar/>
    </transition>
    <transition name="page">
      <form class="main w-2/4 m-auto mt-8 flex flex-col justify-center items-center pt-28" method="post" action="">
        <input type="text" name="name" placeholder="Votre nom" class="form-input">
        <input type="email" name="email" placeholder="Votre adresse email" class="form-input">
        <input type="text" name="subject" placeholder="Objet du message" class="form-input">
        <textarea name="message" cols="30" rows="10" class="form-textarea"></textarea>
        <input type="submit" value="Envoyer">
      </form>
    </transition>
    <transition name="page">
      <Footer/>
    </transition>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Footer from '~/components/Footer.vue'

export default {
  transition: 'page',
  components: {
    Navbar,
    Footer
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

p{
    font-family: 'Varela Round', sans-serif;
}

.page-enter-active, .page-leave-active {
  transition: all .4s ease;
}

/* entering start */  
.page-enter {
  opacity: 0;
}

/* entering end */
.page-enter-to {
  opacity: 1;
}

/* leaving start */
.page-leave {
  opacity: 1;
}

/* leaving end */
.page-leave-to {
  opacity: 0;
}
</style>
