<template>
  <div>
    <div @click="playAnim" class="lottie flex flex-col justify-center items-center" v-if="layout()">
      <lottie :width="80" :height="70" :options="lottieOptions" @animCreated="handleAnimation"  v-if="layout()" @animComplete="unshowAnim" />
      <transition name="text">
        <p class="enter" v-show="textShow">Cliquez pour entrer</p>
      </transition>  
    </div>
    <transition name="page">
      <Navbar v-if="!layout()" />
    </transition>
    <transition name="page">
      <div class="main mt-8 w-full flex flex-wrap justify-center" v-if="!layout()">
        <video :ref="item.id" v-for="item in items" :key="item.id" :src="item.src" poster="/video-1.png" class="w-full sm:w-1/3" @click="play($event, item)" @timeupdate="reset($event, item)"></video>
      </div>
    </transition>
    <transition name="page">
      <Footer v-if="!layout()" />
    </transition>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Footer from '~/components/Footer.vue'
import lottie from 'vue-lottie/src/lottie.vue'
import * as animationData from "~/assets/slider.json"

export default {
  transition: 'page',
  components: {
    Navbar,
    Footer,
    lottie
  },
  data () {
    return {
      items: [
      {
        id: 1,
        src: "/video-1.mp4",
        state: 0
      },
      {
        id: 2,
        src: "/video-1.mp4",
        state: 0
      },
      {
        id: 3,
        src: "/video-1.mp4",
        state: 0
      },{
        id: 4,
        src: "/video-1.mp4",
        state: 0
      },
      {
        id: 5,
        src: "/video-1.mp4",
        state: 0
      },
      {
        id: 6,
        src: "/video-1.mp4",
        state: 0
      },{
        id: 7,
        src: "/video-1.mp4",
        state: 0
      },
      {
        id: 8,
        src: "/video-1.mp4",
        state: 0
      },
      {
        id: 9,
        src: "/video-1.mp4",
        state: 0
      }
    ],
    anim: null, // for saving the reference to the animation
    lottieOptions: { 
      animationData: animationData.default,
      loop: false,
      autoplay: false
    },
    animShow: true,
    textShow: true
    }
  },
  methods : {
    play (event, item) {
      if(item.state == 0){
        event.target.play()
        item.state = 1;
      }else{
        event.target.pause()
        item.state = 0;
      }
    },
    reset (event, item) {
      if(event.target.currentTime > (event.target.duration - 0.5)){
        event.target.load()
        item.state = 0;
      }
    },
    handleAnimation: function (anim) {
      this.anim = anim
      this.anim.addEventListener('complete', () => this.unshowAnim())
    },
    playAnim () {
      this.anim.play()
      this.textShow = false
      this.textShow2 = true
    },
    unshowAnim () {
      this.$store.commit('CHANGE_NAV_LAYOUT', false)
    },
    layout () {
      return this.$store.state.layout;
    }
  },
  mounted () {
    console.log(this.$store.state.layout)
  }
}
</script>

<style scoped>
.enter{
  text-align: center;
  font-size: 1.15rem;
  font-family: Arial, sans-serif;
  color: grey;
}

.lottie{
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%);
}

video{
  background: white;
  transition: all 0.4s ease;
}

video:hover{
  -webkit-transform:scale(0.8); /* Safari et Chrome */
  -moz-transform:scale(0.8); /* Firefox */
  -ms-transform:scale(0.8); /* Internet Explorer 9 */
  -o-transform:scale(0.8); /* Opera */
  transform:scale(0.8);
  transition: all 0.4s ease;
}

.lottie{
  font-size: 15px;
}

.page-enter-active, .page-leave-active {
  transition: all .4s ease;
}

/* entering start */  
.page-enter {
  opacity: 0;
}

/* entering end */
.page-enter-to {
  opacity: 1;
}

/* leaving start */
.page-leave {
  opacity: 1;
}

/* leaving end */
.page-leave-to {
  opacity: 0;
}


.button-leave-active {
  transition: all .4s ease;
}

/* leaving start */
.button-leave {
  opacity: 1;
}

/* leaving end */
.button-leave-to {
  opacity: 0;
}


.text-enter-active, .text-leave-active {
  transition: all 3s ease;
}

/* leaving start */
.text-leave {
  margin-left: 0;
  opacity: 1;
}

/* leaving end */
.text-leave-to {
  margin-left: 100px;
  opacity: 0;
}
</style>
