<template>
  <div>
    <transition name="page">
      <Navbar/>
    </transition>
    <transition name="page">
      <div class="main mt-8 w-full flex justify-center items-center pt-20">
        <video ref="video" src="/video-1.mp4" poster="/video-2.png" class="w-2/4" @click="play()" @timeupdate="reset($event)"></video>
        <img src="~/assets/img/play.png" @click="play()" v-show="this.state == 0">
      </div>
    </transition>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'

export default {
  transition: 'page',
  components: {
    Navbar
  },
  data () {
      return {
          state: 0
      }
  },
  methods : {
    play () {
      if(this.state == 0){
        this.$refs.video.play()
        this.state = 1;
      }else{
        this.$refs.video.pause()
        this.state = 0;
      }
    },
    reset () {
      if(this.$refs.video.currentTime > (this.$refs.video.duration - 0.5)){
        this.$refs.video.load()
        this.state = 0;
      }
    }
  }
}
</script>

<style scoped>
video{
  background: white;
  position: relative;
}

img{
    position: absolute;
}

.page-enter-active, .page-leave-active {
  transition: all .4s ease;
}

/* entering start */  
.page-enter {
  opacity: 0;
}

/* entering end */
.page-enter-to {
  opacity: 1;
}

/* leaving start */
.page-leave {
  opacity: 1;
}

/* leaving end */
.page-leave-to {
  opacity: 0;
}
</style>
